<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Homework_week4</title>

    <script type="text/javascript">
        function PhoneNum(n) {
            let regExp = /^(010|02|0[3-9]{1}[0-9]{1})-?[0-9]{3,4}-?[0-9]{4}$/;
            return regExp.test(n);
        }
        function orders() {
            let username = $("#username").val();
            let count = $("#count").val();
            let address = $("#address").val();
            let number = $("#number").val();
            if (username == "") {
                alert("이름을 입력하세요.");
                $('#username').focus();
                return;
            } else if (count == "") {
                alert("수량을 입력하세요.");
                $('#count').focus();
                return;
            } else if (address == "") {
                alert("주소를 입력하세요.");
                $('#address').focus();
                return;
            } else if (number == "") {
                alert("전화번호를 입력하세요.");
                $('#number').focus();
                return;
            } else if (!PhoneNum(number)) {
                alert("잘못된 전화번호 양식입니다.");
                $('#number').focus();
                return;
            } else {
                alert("주문이 완료되었습니다.");
            }

            $.ajax({
                type: 'POST',
                url: '/orders',
                data: {
                    'username': username,
                    'count': count,
                    'address': address,
                    'number': number
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            });
        }

        function exchange_m() {
            $.ajax({
                type: "GET",
                url: "https://api.manana.kr/exchange/rate.json",
                data: {},
                success: function (response) {
                    let txt = "달러-원 환율 : " + response[1]["rate"];
                    $("#exchange").text(txt);
                },
            });
        }
        exchange_m();

        $(document).ready(function () {
            $('#orders-box').html('');
            listing();
        });

        function listing() {
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        let orders = response['orders'];
                        for (let order of orders) {
                            alert(order.username)
                            $('#orders-box').append(`
                                <tr>
                                    <td>${order.username}</td>
                                    <td>${order.count}</td>
                                    <td>${order.address}</td>
                                    <td>${order.number}</td>

                                </tr>
                            `)
                        }
                    } else {
                        alert('주문을 받아오지 못했습니다');
                    }
                }
            });
        }
    </script>

    <style>
        .title {
            background-image: url('https://image.fmkorea.com/files/attach/new/20150307/2895716/4052127/134670196/899bda01c3d5f94043d1d9ed113e7164.jpg');
            width: 400px;
            height: 400px;
            background-position: center;
            margin: auto;
            text-align: center;
            padding-top: 50px;
        }

        .name {
            font-size: 30px;
            font-weight: bold;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

        body {
            font-family: 'Sunflower', sans-serif;
            text-align: center;
        }

        .button {
            margin: auto;
            text-align: center;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="title"> </div>
        <a class="name">한정판 피규어 판매 중.</a>
        <a>가격: 49,900원/개</a>
        <p>
            간지나는 리미티드 에디션 액션 피규어 특가 할인 이벤트 진행 중
        </p>
        <div id="exchange"></div>
        <div>
            <div class="form-row align-items-center"></div>
            <div class="col-auto"></div>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">주문자 이름</div>
                </div>
                <input type="text" class="form-control" id="username">
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">수량</label>
            </div>
            <select class="custom-select" id="count">
                <option selected value>-- 수량을 선택하세요 --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">주소</span>
                </div>
                <input type="text" class="form-control" id="address">
            </div>
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">전화번호</span>
                    </div>
                    <input type="text" class="form-control" id="number">
                </div>

                <div class="button">
                    <button onclick=" orders()" type="button" class="btn btn-primary">주문하기</button>
                </div>
            </div>
            <div class="orders">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">이름</th>
                            <th scope="col">수량</th>
                            <th scope="col">주소</th>
                            <th scope="col">전화번호</th>
                        </tr>
                    </thead>
                    <tbody id="orders-box">
                        <tr>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                            <td>@mdo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>